@charset "UTF-8";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

html, body {
  background-color: #222;
  // color: #f0f0f0;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.canvas-wrapper {
  width: 100vw;
  height: 100vh;
}

#canvas {
  width: 100%;
  height: 100%;
}
